<div class="d-flex justify-content-between">
  <h1>Questions</h1>
  <div class="">
    <%= link_to "New question", new_question_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-group-divider mt-4 mb-4"></div>

<div id="questions">

  <% @questions.each do |question| %>
    <div class="card shadow border-0 rounded-2 mb-3">
      <div class="card-header bg-white">
        <div class="card-body">
          <%= render question %>
          <%= link_to "Show this question", question %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="d-flex justify-content-center mb-5">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
